{% extends 'WebProfilerBundle:Profiler:layout.html.twig' %}

{% block toolbar %}
    {% set icon %}
    {% if collector.settings.show_icon %}
    <img width="20" height="28" alt="{{ collector.fetcher.viewName }}" src="{{ collector.fetcher.icon }}"/>
    {% endif %}
    {% if collector.settings.show_current_branch or collector.settings.show_latest_revision %}
        <span class="sf-toolbar-info-piece-additional">
        {% if collector.settings.show_current_branch %}{{ collector.fetcher.currentBranch }}{% endif %}
        {% if collector.fetcher.currentBranch is not empty and collector.settings.show_latest_revision %},{% endif %}
        {% if collector.settings.show_latest_revision %}{{ collector.fetcher.revision }}{% endif %}
        </span>
    {% endif %}
    {% if collector.settings.show_dirty_files %}
        {% block dirty_files %}
            <span class="sf-toolbar-status sf-toolbar-status-{{ collector.fetcher.dirtyFilesColor }}"
                  title="Dirty files">{{ collector.fetcher.dirtyCount }}</span>
            {% if collector.fetcher.aheadCount is not sameas(false) %}
                <span class="sf-toolbar-status sf-toolbar-status-{{ collector.fetcher.aheadColor }}"
                      title="Commits ahead">{{ collector.fetcher.aheadCount }}</span>
            {% endif %}
            {% if collector.fetcher.behindCount is not sameas(false) %}
                <span class="sf-toolbar-status sf-toolbar-status-{{ collector.fetcher.behindColor }}"
                        title="Commits behind">{{ collector.fetcher.behindCount}}</span>
            {% endif %}
        {% endblock %}
    {% endif %}
    {% endset %}
    {% set text %}
    <div class="sf-toolbar-info-piece">
        <b>Branch</b>
        <span>{{ collector.fetcher.branchInfo }}</span>
    </div>
    <div class="sf-toolbar-info-piece">
        <b>Last revision</b>
        <span>{{ collector.fetcher.revision }}</span>
    </div>
    <div class="sf-toolbar-info-piece">
        <b>Last author</b>
        <span>{{ collector.fetcher.author }}</span>
    </div>
    <div class="sf-toolbar-info-piece">
        <b>Last modified</b>
        <span>{{ collector.fetcher.date|date('Y-m-d @ H:i') }}</span>
    </div>
    <div class="sf-toolbar-info-piece">
        <b>Dirty files</b>
        {{ block('dirty_files') }}
    </div>
    {% endset %}
    {% include 'WebProfilerBundle:Profiler:toolbar_item.html.twig' with { 'link': profiler_url } %}
{% endblock %}

{% block menu %}
    <span class="label">
    <span class="icon">
      <span style="display:block; float: left; text-transform: none; background-color: #3F3F3F; color: #F7F7F7; font-family: sans-serif; font-size: 15px; padding: 4px 4px 3px 4px; margin: 3px 15px;">
      {{ collector.fetcher.viewName }}
      </span>
    </span>
    <strong>VERSION</strong>
</span>
{% endblock %}

{% block panel %}
    <h2>Version Information</h2>

    <h3>Last commit</h3>
    <pre>{{ collector.fetcher.informationText }}</pre>

    <br/>
    <h3>Dirty files</h3>
    {% if collector.fetcher.statusText|trim %}
        <pre>{{ collector.fetcher.statusText }}</pre><br/>
    {% else %}
        <p><em>No dirty files found</em></p>
    {% endif %}

    {% if collector.fetcher.aheadText is not empty %}
        <h3>Commits ahead</h3>
        <pre>{{ collector.fetcher.aheadText }}</pre><br/>
    {% endif %}
    {% if collector.fetcher.behindText is not empty %}
        <h3>Commits behind</h3>
        <pre>{{ collector.fetcher.behindText }}</pre><br/>
    {% endif %}
{% endblock %}